body {
    background-color: black;
    color: white;
    font-size: large;
}
.myphoto {
    display: block;
    margin: 0 auto;
    margin-top: 0;
}

.poster {
    display: block;
    margin: 0 auto;
    margin-top: 0;
}
.links {
    text-align: center;
}